In [1]:
import numpy as np 
import pandas as pd 
import os

## Fonctions utiles

# Chargement du jeu de données

In [2]:
def read_data(data_path):
    columns_names_data = ["AccX", "AccY", "AccZ", "GyrX", "GyrY", "GyrZ"]
    columns_names_data_tmp = {0 : "AccX", 1 : "AccY", 2 : "AccZ", 3 : "GyrX", 4 : "GyrY", 5 : "GyrZ"} 
    data = pd.DataFrame(columns = columns_names_data)
    
    file_names = os.listdir(data_path)
    file_names.sort(key=lambda x:int(x[:-4]))
    
    for file_name in file_names:
        file_path = os.path.join(data_path, file_name)
        data_tmp = pd.read_csv(file_path, sep=" ",header=None,decimal=",")
        data_tmp.drop(labels=[6], axis=1, inplace=True)
        data_tmp.rename(columns=columns_names_data_tmp, inplace=True)
        data = data.append(data_tmp,ignore_index=True)
    return (data)

def read_label(labels_path):
    columns_names_labels = ["Walk"]
    columns_names_labels_tmp = {0 : "Walk"} 
    labels = pd.DataFrame(columns = columns_names_labels)
    
    file_names = os.listdir(labels_path)
    file_names.sort(key=lambda x:int(x[:-10]))
    
    for file_name in file_names:
        file_path = os.path.join(labels_path, file_name)
        labels_tmp = pd.read_csv(file_path, sep=" ",header=None)
        labels_tmp.rename(columns=columns_names_labels_tmp, inplace=True)
        labels = labels.append(labels_tmp,ignore_index=True)
    return (labels)

In [3]:
path = r"""C:\Users\tpailhas\MIASHS\TER\Parkinson\Dataset\Gait-Datasets-TIFS20\Dataset7"""

train_data_path = rf"""{path}\train\train_data""" 
train_label_path = rf"""{path}\train\train_label"""
X_train = read_data(train_data_path)
Y_train = read_label(train_label_path)

test_data_path = rf"""{path}\test\test_data"""
test_label_path = rf"""{path}\test\test_label"""
X_test = read_data(test_data_path)
Y_test = read_label(test_label_path)

print("""***** Forme des donnéees récupérées **********************""")
print(f"""{type(X_train)} {X_train.shape} """)
print(f"""{type(Y_train)} {Y_train.shape} """)
print(f"""{type(X_test)} {X_train.shape} """)
print(f"""{type(Y_test)} {Y_train.shape} """)

***** Forme des donnéees récupérées **********************
<class 'pandas.core.frame.DataFrame'> (531456, 6)
<class 'pandas.core.frame.DataFrame'> (531456, 1)
<class 'pandas.core.frame.DataFrame'> (531456, 6)
<class 'pandas.core.frame.DataFrame'> (531456, 1)

In [4]:
X_train.head()

      AccX     AccY     AccZ      GyrX      GyrY      GyrZ
0  5.94531  4.35938  7.28516  0.275635  0.072632  0.369629
1  5.84766  4.39844  7.22656  0.197144  0.109314  0.319336
2  5.94531  4.45703   7.1875    0.2771  0.160034  0.284424
3  5.88672   4.4375   7.1875   0.22998   0.14856  0.281982
4  5.88672  4.39844  7.14844  0.231445  0.121582  0.246582

In [5]:
X_train.dtypes

AccX    object
AccY    object
AccZ    object
GyrX    object
GyrY    object
GyrZ    object
dtype: object

In [6]:
#Problème: on doit convertir les types object en float64
#https://stackoverflow.com/questions/28277137/how-to-convert-datatypeobject-to-float64-in-python
#Since version 0.17.0 convert_objects is deprecated and there isn't a top-level function to do this so you need to do:
X_train = X_train.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [7]:
X_train.dtypes

AccX    float64
AccY    float64
AccZ    float64
GyrX    float64
GyrY    float64
GyrZ    float64
dtype: object

In [8]:
Y_train.head()

  Walk
0    0
1    0
2    0
3    0
4    0

In [9]:
Y_train.dtypes

Walk    object
dtype: object

In [10]:
#Problème: on doit convertir les types object en float64
#https://stackoverflow.com/questions/28277137/how-to-convert-datatypeobject-to-float64-in-python
#Since version 0.17.0 convert_objects is deprecated and there isn't a top-level function to do this so you need to do:
Y_train = Y_train.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [11]:
Y_train.dtypes

Walk    int64
dtype: object

In [16]:
X_train.to_csv('X_train.csv',index=False,sep=';') 
Y_train.to_csv('Y_train.csv',index=False,sep=';')

In [17]:
X_test.head()

       AccX       AccY     AccZ       GyrX       GyrY       GyrZ
0  -9.32813  -0.506348  1.67773   -0.03714   0.079285   0.447266
1  -9.54688  -0.564941  1.75586  -0.202271   0.016342    0.42041
2  -9.28906  -0.663086  1.67773   0.042145  -0.065369   0.273682
3    -9.375  -0.682617  1.48144  -0.029068  -0.067993   0.062012
4  -9.23438  -0.820312  1.01074   0.086609  -0.164185  -0.326904

In [18]:
X_test.dtypes

AccX    object
AccY    object
AccZ    object
GyrX    object
GyrY    object
GyrZ    object
dtype: object

In [19]:
#Problème: on doit convertir les types object en float64
#https://stackoverflow.com/questions/28277137/how-to-convert-datatypeobject-to-float64-in-python
#Since version 0.17.0 convert_objects is deprecated and there isn't a top-level function to do this so you need to do:
X_test = X_test.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [20]:
X_test.dtypes

AccX    float64
AccY    float64
AccZ    float64
GyrX    float64
GyrY    float64
GyrZ    float64
dtype: object

In [21]:
Y_test.head()

  Walk
0    0
1    0
2    0
3    0
4    0

In [22]:
Y_test.dtypes

Walk    object
dtype: object

In [23]:
#Problème: on doit convertir les types object en float64
#https://stackoverflow.com/questions/28277137/how-to-convert-datatypeobject-to-float64-in-python
#Since version 0.17.0 convert_objects is deprecated and there isn't a top-level function to do this so you need to do:
Y_test = Y_test.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [24]:
Y_test.dtypes

Walk    int64
dtype: object

In [25]:
X_test.to_csv('X_test.csv',index=False,sep=';') 
Y_test.to_csv('Y_test.csv',index=False,sep=';')